graphviz
gdown
h5py
ipykernel
jupyterlab
lmdb
matplotlib
networkx
notebook
numpy<2
opencv-contrib-python-headless<5
pandas
Pillow
protobuf<5
pyfiglet
python-magic
requests
scikit-image
scipy
Shapely<2
svgpathtools
svgwrite
tensorboardX
tqdm
